.welcome {
  padding-top: 150px;
  text-align: left;
  font-size: 60px;
  padding-left: 150px;
  color: gray;
}

.button-text {
  font-size: 25px;
}

.author-quote {
  font-style: italic;
  font-size: 30px;
}
span.author-quote{
  font-size: 24px;
}

.git-logo{
  margin-top: 120px;
  margin-right: 150px;
}

.hero-content {
  position: relative;
  margin-top: -270px;
  height:fit-content ;
}

.hero-bg {
  margin-top: -150px;
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.firstbtn,.secondbtn{
  z-index: +1000000;
}

.hero-content__entry {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-around;
  top: 40%;
  left: 0;
}

.entry-words {
  font-family: -apple-system, BlinkMacSystemFont;
  margin-top: -200px;
  align-self: flex-start;
  font-size: 50px;
  margin-left: 10%;
  color: white;
}

.branches {
  margin-top: -200px;
}

@media screen and (max-width: 1500px) {
  .hero-content {
    margin-top: -100px;
  }
  .hero-content__entry {
    margin-top: -100px;
  }
}

@media screen and (max-width: 1200px) {
  .entry-words {
    font-size: 24px;
  }
  .author-quote {
    font-size: 24px;
  }
}

@media screen and (max-width: 950px) {
  .hero-content {
    margin-top: -150px;
  }
}

@media screen and (max-width: 750px) {
  .branches {
    margin-top: -100px;
  }
}

@media screen and (max-width: 550px) {
  .hero-bg {
    height: 600px;
  }
  .git-logo {
    display: none;
  }
  .entry-words {
    margin-top: 70px;
    font-size: 20px;
  }
}
